// font used is Avenir or Copenhagen may work as a stand-in

// VARIABLES
$content-width: 80%;
$red: #ed1d27;
$dark-red: #c20811;
$medium-gray: #708090;
$dark-gray: #384048;

$reset-button-text-color: white;
$reset-button-color: $medium-gray;
$reset-button-text-color-hover: white;
$reset-button-color-hover: $dark-gray;
$output-section-divider-color: slategray;
$category-header-underline-color: lightgray;
$name-search-border-color: #5e5e5e;
$name-search-border-focus-color: $red;
$name-search-border-trans-speed: 250ms;
// $link-hover-trans-speed: 150ms;

// TYPOGRAPHY
a {
    color: $red;

    &:hover {
        color: $red;
    }
}

// STYLES
html, body, #app, #app-container {
    min-height: 100vh;
}

#app-container {
    display: flex;
    flex-direction: column;
}

header {
    padding: 1rem 0;
}

.btn-reset {
    padding: .2rem .6rem;
    margin: .5rem 0;
    color: $reset-button-text-color;
    background-color: $reset-button-color;
    border-color: $reset-button-color;

    &:hover {
        color: $reset-button-text-color-hover;
        background-color: $reset-button-color-hover;
        border-color: $reset-button-color-hover;
    }
}

#content {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    section {
        width: $content-width;
    }

    #sort-parameters {

        #name-search {
            margin: 0 0 .5rem 0;
            width: 15rem;
            border: none;
            border-width: 0 0 2px 0;
            border-style: solid;
            border-color: $name-search-border-color;
            transition: border-color $name-search-border-trans-speed ease-in-out;

            &:focus {
                outline: none;
                border-color: $red;
            }
        }
    }

    #sorted-output {
        padding: 1rem 0 0 0;
        // border-top: 2px solid $output-section-divider-color;
    }
}

#category-container {
    max-height: 10rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .category-input-container {
        margin: 0 .25rem;
    }
}

.sort-category-container {
    margin: 1rem 0 1rem 0;

    h4 {
        width: 100%;
        display: inline-block;
        border-bottom: 2px solid $category-header-underline-color;
        padding: 0 0 .25rem 0;
    }
}

.category-header-name {
    font-size: 1.5rem;
    color: $dark-red;
    font-weight: normal;
}

.category-table {
    margin: 0 0 4rem 0;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1rem 0 2rem 0;
    margin-top: auto;

    .footer-element {
        width: $content-width;
        border-top: 2px solid #000;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}