// VARIABLES
$content-width: 80%;
$red: #ed1d27;
$dark-red: #c20811;
$medium-gray: #708090;
$dark-gray: #384048;
$gray-text: #636363;

$site-header-font: 'Nunito', sans-serif;
$sort-header-font: 'Nunito Sans', sans-serif;
$sort-input-font: 'Roboto', sans-serif;
$button-font: 'Roboto', sans-serif;
$table-category-header-font: 'Nunito', sans-serif;
$table-column-header-font: 'Roboto', sans-serif;
$table-column-row-font: 'Roboto', sans-serif;

$reset-button-text-color: white;
$reset-button-color: $medium-gray;
$reset-button-text-color-hover: white;
$reset-button-color-hover: $dark-gray;
$reset-button-text-color-active: white;
$reset-button-color-active: $dark-gray;
$reset-button-text-color-focus: white;
$reset-button-color-focus: $medium-gray;

$table-border-color: lightgray;

$table-category-row-deg: 355deg;
$table-category-row-color-start: $table-border-color;
$table-category-row-color-stop: white;
$category-header-underline-color: $table-border-color;

$output-section-divider-color: slategray;

$name-search-border-color: #5e5e5e;
$name-search-border-focus-color: $red;
$name-search-border-trans-speed: 250ms;
// $link-hover-trans-speed: 150ms;

$footer-text-color: $gray-text;

// TYPOGRAPHY
a {
    color: $red;

    &:hover {
        color: $red;
    }
}

// STYLES
html, body, #app, #app-container {
    min-height: 100vh;
}

th, td {
    border-color: $table-border-color !important;
}

#app-container {
    display: flex;
    flex-direction: column;
}

header {
    padding: 1rem 0;
    font-family: $site-header-font;
}

.btn-reset {
    padding: .2rem .6rem;
    margin: .5rem 0;
    color: $reset-button-text-color;
    background-color: $reset-button-color;
    border-color: $reset-button-color;

    &:hover {
        color: $reset-button-text-color-hover !important;
        background-color: $reset-button-color-hover !important;
        border-color: $reset-button-color-hover !important;
    }

    &:active {
        color: $reset-button-text-color-active !important;
        background-color: $reset-button-color-active !important;
        border-color: $reset-button-color-active !important;
    }

    &:focus {
        color: $reset-button-text-color-focus !important;
        background-color: $reset-button-color-focus !important;
        border-color: $reset-button-color-focus !important;
        box-shadow: none !important;
    }
}

#content {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    section {
        width: $content-width;
    }

    #sort-parameters {

        #name-search {
            margin: 0 0 .5rem 0;
            width: 15rem;
            border: none;
            border-width: 0 0 2px 0;
            border-style: solid;
            border-color: $name-search-border-color;
            transition: border-color $name-search-border-trans-speed ease-in-out;

            &:focus {
                outline: none;
                border-color: $red;
            }
        }
    }

    #sorted-output {
        padding: 1rem 0 0 0;
        // border-top: 2px solid $output-section-divider-color;
    }
}

#category-container {
    max-height: 10rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .category-input-container {
        margin: 0 .25rem;
    }
}

.sort-category-container {
    margin: 1rem 0 1rem 0;

    h4 {
        width: 100%;
        display: inline-block;
        border-bottom: 2px solid $category-header-underline-color;
        padding: 0 0 .25rem 0;
        font-family: $sort-header-font;
    }

    .sort-container {
        font-family: $sort-input-font;
    }
}

button {
    font-family: $button-font;
}

.category-header-row {
    background: linear-gradient($table-category-row-deg, $table-category-row-color-start, $table-category-row-color-stop);
}

.category-header-name {
    font-size: 1.5rem;
    color: $dark-red;
    font-weight: normal;
    font-family: $table-category-header-font;
}

.column-header-name {
    font-family: $table-column-header-font;
}

.category-table {
    margin: 0 0 4rem 0;
}

.field-item {
    font-family: $table-column-row-font;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1rem 0 2rem 0;
    margin-top: auto;

    .footer-element {
        width: $content-width;
        border-top: 2px solid #000;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        h6 {
            font-size: .8rem;
            color: $footer-text-color;
        }
    }
}

// TRANSITIONS & ANIMATIONS
.fade-intro {
    animation: fade-in 400ms ease-in-out;
    animation-delay: 200ms;
    animation-fill-mode: forwards;
    opacity: 0;
}

.fade-quick {
    animation: fade-in 400ms ease-in;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}